#t7_dl {
	float:left;
	width: 44px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_hl {
	float:left;
	width: 44px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_ml {
	float:left;
	width: 55px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_sl {
	float:left;
	width: 42px;
	height:15px;
	padding:0px;
	margin: 0px;
}

