
/**


	By Ten Seven Interactive
	http://ten7i.com/

	May 10, 2009 - after years of practice

	If you use this & don't acknowledge it,
	we will cry a global tear. Be fair!


**/

#t7_timer {
	width: 300px;
	height: 55px;
	position: relative;
}

#t7_vals {
	width: 100%;
	clear:both;
	margin: 0px auto;
}

.t7_numbs {
	font-size: 28px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #ffffff;
}

#t7_d {
	background-image: url(/img/Countdown2.png);
	background-repeat: no-repeat;
	float:left;
	width: 48px;
	height:35px;
	padding: 7px 0px 0px 3px;
	margin: 1px;
	letter-spacing: 7px;
}
#t7_h {
	background-image: url(/img/Countdown2.png);
	background-repeat: no-repeat;
	float:left;
	width: 48px;
	height:35px;
	padding: 7px 0px 0px 3px;
	margin: 1px;
	letter-spacing: 7px;
}
#t7_m {
	background-image: url(/img/Countdown2.png);
	background-repeat: no-repeat;
	float:left;
	width: 47px;
	height:35px;
	padding: 7px 0px 0px 3px;
	margin: 1px;
	letter-spacing: 7px;
}
#t7_s {
	background-image: url(/img/Countdown2-nc.png);
	background-repeat: no-repeat;
	float:left;
	width: 42px;
	height:35px;
	padding: 7px 0px 0px 3px;
	margin: 1px;
	letter-spacing: 7px;
}

#t7_labels {
	width: 100%;
	clear:both;
	margin: 0px auto;
}

.t7_labs {
	font-size: 9px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #000000;
}
#t7_dl {
	float:left;
	width: 54px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_hl {
	float:left;
	width: 54px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_ml {
	float:left;
	width: 55px;
	height:15px;
	padding:0px;
	margin: 0px;
}
#t7_sl {
	float:left;
	width: 46px;
	height:15px;
	padding:0px;
	margin: 0px;
}


#defaultCountdown { width: 300px; height: 55px; text-align: center;}
