body {
  font-family: serif;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

p {
  text-indent: 1em;
  text-align: justify; 
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 65ex;
}

.footer , iframe {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}
