/* Base styling for a clean feel */

body {
  background-color: #cde;
  font-family: Georgia, serif ;
  line-height: 1.3em;
  padding: 1em;
  margin: 1em auto 0 auto;
  color: #012;
}

#post {
  -webkit-column-width: 65ex;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
  text-align: justify;
  max-width: 65ex;
}

a {
  color: #359;
  text-decoration: none;
}

a:visited {
  color: #234;
}

a:hover {
  color: #459;
}

a > img {
  border: none;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
  padding-left: 0;
}

ul li {
  line-height: 1.5em;
  -webkit-column-break-inside: avoid;
}

pre {
  font-family: "Anonymous Pro", monospace;
  font-size: 80%;
  padding: 1ex;
  border: solid black 1px;
  overflow: scroll;
  clear: both;
  -webkit-column-break-inside: avoid;
}

/* Tweaks for specific elements */

ul span:after {
  content: " » ";
}

.title {
  font-weight: bold;
  margin-bottom: 2em;
}

.title a {
  color: #369;
}

.footer {
  font-size: 80%;
  border-top: 4px solid #abc;
  margin-top: 1em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 2em;
}

/* Photo gallery tweaks */

.photo img {
  display: block;
  width: 80%;
  margin: 1em auto 1em auto;
}

@media all and (min-width: 800px) {
  .title::after {
    content: "";
    background-image: url(/img/barrbrain-2015.jpg);
    float: right;
    width: 246px;
    height: 246px;
    padding: 5px;
    border: solid white 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
