<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="David Barr" />
   <link href="/atom.xml" rel="alternate" title="David Barr" type="application/atom+xml" />
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet alternate" href="/css/print.css" type="text/css" media="print" />
</head>
<body>

<div class="title">
  <a href="/">David Barr</a>
</div>
  
{{ content }}
  
<div class="footer">
  <span class="contact">David Barr</span>
  <span class="contact">david.barr@cordelta.com</span>
  <span class="contact"><a href="http://sourceforge.net/users/barrbrain">sourceforge.net/users/barrbrain</a></span>
</div>

</body>
</html>
