<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="David Michael Barr" />
   <link href="/atom.xml" rel="alternate" title="David Michael Barr" type="application/atom+xml" />
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
   <link rel="canonical" href="http://ba.rr-dav.id.au{{ page.url }}" />
</head>
<body>

<div class="title">
  <a href="/">David Michael Barr</a> <g:plusone size="small" annotation="inline" width="120" href="http://ba.rr-dav.id.au"/>
</div>
  
{{ content }}
  
<div class="footer">
  <a rel="author" href="https://plus.google.com/106045714513828999745">
    <img src="http://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16">
  </a>
  <span class="contact">David Michael Barr</span>
  <span class="contact">davidbarr@google.com</span>
  <span class="contact"><a href="http://github.com/barrbrain/">github.com/barrbrain</a></span>
  <a href='https://www.ohloh.net/accounts/113647?ref=Detailed'>
    <img alt='Ohloh profile for David Michael Barr' height='15' src='https://www.ohloh.net/accounts/113647/widgets/account_tiny.gif' width='80' />
  </a>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</body>
</html>
