---
layout: default
---
<div id="videos">

  {{ content }}

  {% for video in page.videos %}
    <div class="video" id="{{ video.id }}">
      <h3>{{ video.title }}</h3>
      <applet code="com.fluendo.player.Cortado.class" archive="http://theora.org/cortado.jar" width="{{ video.width }}" height="{{ video.height }}">
        <param name="url" value="/~u4110464/vid/{{ video.file }}"/>
        <param name="autoPlay" value="false"/>
        <param name="showSpeaker" value="false"/>
      </applet>
      {{ video.comment | textilize }}
    </div>
  {% endfor %}

</div>
